<h1>Set Lunch Menu</h1>

<section ng-controller="LunchMenuController as lunchMenu">
  <div ng-init="lunchMenu.getSetLunchMenus()">
    <ul ng-repeat="menu in lunchMenu.setLunchMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h4>{{menu.title}}
                {{menu.price}} + VAT</h4>
              </li>
              <li ng-repeat="men in menu.description" class="text">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
