<h1>Contact</h1>

<h1>getSetLunchMenus</h1>
<div ng-controller="LunchMenuController as lunchMenu">
  <div ng-init="lunchMenu.getSetLunchMenus()">
    <ul ng-repeat="menu in lunchMenu.setLunchMenus">
      <li>
        <h5>{{menu.title}}</h5>
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
  <h1>getFingerMenus</h1>
  <div ng-init="lunchMenu.getFingerMenus()">
    <ul ng-repeat="menu in lunchMenu.fingerMenus">
      <li>
        <h5>{{menu.title}}</h5>
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
  <h1>getColdForkMenus</h1>
  <div ng-init="lunchMenu.getColdForkMenus()">
    <ul ng-repeat="menu in lunchMenu.coldForkMenus">
      <li>
        <h5>{{menu.title}}</h5>
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
  <h1>getHotForkMenus</h1>
  <div ng-init="lunchMenu.getHotForkMenus()">
    <ul ng-repeat="menu in lunchMenu.getHotForkMenus">
      <li>
        <h5>{{menu.title}}</h5>
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
  <h1>getPlatterMenus</h1>
  <div ng-init="lunchMenu.getPlatterMenus()">
    <ul ng-repeat="menu in lunchMenu.getPlatterMenus">
      <li>
        {{menu.title}}
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
  <h1>getDrinksMenus</h1>
  <div ng-init="lunchMenu.getDrinksMenus()">
    <ul ng-repeat="menu in lunchMenu.getDrinksMenus">
      <li>
        <h5>{{menu.title}}</h5>
        {{menu.price}}
      </li>
      <li ng-repeat="men in menu.description">
        {{men}}
      </li>
    </ul>
  </div>
</div>
