<h1>Contact</h1>

<!-- <h1>getSetLunchMenus</h1>
<div ng-controller="LunchMenuController as lunchMenu">
  <div ng-init="lunchMenu.getSetLunchMenus()">
    <ul ng-repeat="menu in lunchMenu.setLunchMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h5>{{menu.title}}</h5>
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <h1>getFingerMenus</h1>
  <div ng-init="lunchMenu.getFingerMenus()">
    <ul ng-repeat="menu in lunchMenu.fingerMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h5>{{menu.title}}</h5>
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <h1>getColdForkMenus</h1>
  <div ng-init="lunchMenu.getColdForkMenus()">
    <ul ng-repeat="menu in lunchMenu.coldForkMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h5>{{menu.title}}</h5>
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <h1>getHotForkMenus</h1>
  <div ng-init="lunchMenu.getHotForkMenus()">
    <ul ng-repeat="menu in lunchMenu.getHotForkMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h5>{{menu.title}}</h5>
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <h1>getPlatterMenus</h1>
  <div ng-init="lunchMenu.getPlatterMenus()">
    <ul ng-repeat="menu in lunchMenu.getPlatterMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                {{menu.title}}
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <h1>getDrinksMenus</h1>
  <div ng-init="lunchMenu.getDrinksMenus()">
    <ul ng-repeat="menu in lunchMenu.getDrinksMenus" class="lunchMenu {{menu.titleName}}">
      <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div class="lunchMenuDiv">
            <div class="lunchMenuDivDiv">
              <li>
                <h5>{{menu.title}}</h5>
                {{menu.price}}
              </li>
              <li ng-repeat="men in menu.description">
                {{men}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div> -->
