<h1>Breakfast Menu</h1>

<!-- <nav> -->
  <ul>
    <li ui-sref="croissantMenu"><a>Croissant Menu</a></li>
    <li ui-sref="muffinMenu"><a>Muffin Menu</a></li>
    <li ui-sref="danishMenu"><a>Danish Menu</a></li>
    <li ui-sref="donutMenu"><a>Donut Menu</a></li>
    <li ui-sref="breakfastBagelMenu"><a>Breakfast Bagel Menu</a></li>
    <li ui-sref="breakfastRollsMenu"><a>Breakfast Rolls Menu</a></li>
    <li ui-sref="breakfastSandwichesMenu"><a>Breakfast Sandwiches Menu</a></li>
    <li ui-sref="breakfastBaguettesMenu"><a>Breakfast Baguette Menu</a></li>
    <li ui-sref="fruitYoghurtMenu"><a>Fruit and Yoghurt Menu</a></li>
    <li ui-sref="breakfastDrinksMenu"><a>Breakfast Drinks Menu</a></li>
  </ul>
<!-- </nav> -->
